
<h1 class="rest_titulo">Lista de Restaurantes - Málaga</h1>
<button class="btn btn-success mb-3" routerLink="/restaurantes/nuevo">CREAR UN RESTAURANTE</button>
<div class="container">
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let restaurante of lista_restaurantes">
    <div class="card rest_card">
      <!--Si fotoHasCode es nulo, cargamos la foto por defecto-->
       <img *ngIf="restaurante.fotoHashCode" src="http://localhost:8081/restaurante/obtenerFoto/{{restaurante.id}}" class="card_img" alt="...">

      <img *ngIf="!restaurante.fotoHashCode" src="/assets/imgRestaurantes/La Antxoeta Art Restaurant.jpeg" class="card_img" alt="...">
      
      <div class="card-body">
        <img src="/assets/favicon.png" class="card_logo" alt="...">
        <div>
        <h1 class="card_title rest_nombre">{{ restaurante.nombre }}</h1>
        <p class="card_text rest_direccion">{{ restaurante.direccion }}</p>
        <p class="card_text rest_barrio">{{ restaurante.barrio }}</p>
        <a href="#" class="btn btn-warning rest_button">Entra en el restaurante</a>
        <a href="#" class="btn btn-danger" (click)="borrarrestaurante()">Borrar</a>
       </div>
      </div>
    </div>
  </div>
</div>  
     


