.map-container {
  position: relative;
  height: 400px;
  width: auto;
  margin: 2px;
  
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  object-fit: cover;
  
}

#map {
  height: 100%;
 
}